<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
<title>Hello, Spring Boot!</title>
</head>
<body>
	<div layout:fragment="content" class="container">
		<div th:if="${currentUser}" th:inline="text">
			<form class="form-inline pull-right" action="#" th:action="@{/logout}" method="post">
				<span>Logged in as [[${currentUser.username}]]</span>
				<input class="button btn btn-link" type="submit" value="Logout" />
			</form>
			
		</div>
		<div  th:if="${currentUser == null}">
			 Please <a th:href="@{/login}">log in</a> or <a th:href="@{/register}">register</a> 
		</div>
	</div>
</body>
</html>
